paper-tabs {
  width: 100%;
  background: #fff;
  height: 62px; }

iron-icon {
  margin: 0 6px; }

#main #mainContainer {
  bottom: 200px; }

paper-icon-button {
  padding: 2px; }

iron-pages#contaner {
  padding: 0; }

#mainContainer {
  background: #fafafa; }

paper-button {
  text-transform: none;
  transition-duration: 0.4s; }

paper-button:hover {
  opacity: 0.8;
  transition-duration: 0.4s; }
